
# Ignore `bin` dir
bin
VS2017/LeeroyLooper/Debug
VS2017/LeeroyLooper/Release
VS2017/RtAudioLib/
VS2017/RtAudioLib/RtAudioLib/Debug
VS2017/RtAudioLib/RtAudioLib/Release
/VS2017/.vs/LeeroyLooper/v15
/.vs/LeeroyLooper/v15
*.tlog
/LeeroyLooper/Debug
