
# Ignore `bin` dir
bin
VS2017/*
!VS2017/LeeroyLooper.sln
!VS2017/LeeroyLooper/LeeroyLooper.*

# Don't commit ASIO or RtAudio files (licence for ASIO is non permissive and RtAudio is 3rd party and actively developed.)
lib